/* reglas
selectores
declaraciones
propiedades
valores*/

/*header{
    background:pink; >>El "!important" se salta la jerarquia y le da prioridad ante todo
}*/

/*TIPOS DE SELECTORES:
>Selector de etiqueta: Ej: header - section - article - nav - etc
>Selector descendente:
    Ej: body header div nav ol li a 
>Selector de clase 
    Nota: Las class se pueden replicar, en cambio los id son únicos
*/

body {
    font-family: 'Source Sans Pro', sans-serif;
} /* El boy engloba a todo, por eso le HEREDA el cambio de tipografia a todos los hijos del mismo */

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal; /*Define el “peso” de la letra, negrita, normal, light y 
    normalmente se indica en múltiplos de 100 o usando keywords. */
    /* font-style: italic; cursiva */
}

h1 {
    font-size: 40px; /*Modifica el tamaño de la fuente*/
    line-height: 1.5em; /*Modifica el espaciado entre las letras del texto.*/
    letter-spacing: -.2px; /*Modifica el espacio entre lineas*/
    color: white;
    /*text-transform: uppercase; Permite transformar el estado de mayúsculas / minúsculas en el texto, usando uppercase para mayúsculas sostenidas, etc
    text-decoration: underline; Define el decorado del texto como subrayado, tachado, con subrayado superior, etc.*/
}

h1 strong {
  color: #026fff;
}

.hero{
  height: 300px;
  background-image: url('../Imagenes/hero.jpg');
  background-color: #1b2127;
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
}

.project {
  /* border-top: tamaño tipo color; */
  /* border-color:  red;
  border-width: 15px;
  border-style: solid; */
  /* border-top-color: aqua; */
  border: 1px solid gray;
  border-radius: 10px;
  /* border-top-left-radius: 50px; */
}

.project-details{
  width: 500px;
}

.project-imageContainer{
  width: 500px;
}

.header{
  background-color: #1b2127;
  color: white;
}

/* selector descendente */
.header a{
  color: white;
  text-decoration: none;
}